build/
/dist/
nbproject/private/private.properties
nbproject/private/private.xml
# nbproject/build-impl.xml
nbproject/project.properties
nbproject/genfiles.properties
# source
Archivo.txt
*sym.java*
*Lexer.java*
*LexerCup.java*
*Sintax.java*
*project.xml*
